<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= homeInfo %></p>

<% for(let i = 0; i < posts.length; i++) { %>

  <h1><%= posts[i].titlePost %></h1>
  <p><%= posts[i].postBody %></p>

<%} %>


<%- include("partials/footer") -%>
